*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

h1{
    color: rgb(47, 223, 61); 
}

p{
    color: blue;
    font-size: 30px;
}

#container{
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

#cabecera ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 30px;
}


#cabecera ul li{
    margin: 30px;
}