*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

h1{
    color: rgb(47, 223, 61); 
    margin: 30px;
}

p{
    color: blue;
    font-size: 30px;
}


#container{
    width: 70%;
    margin: auto;
}

#cabecera{
    display: grid;
    grid-template-columns: 50% 50%;
    margin:30px;
}


#logo img{
    float: left;
}

#menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0x;
    width: 1005;
    float: right;
}


#menu ul li{
    font-style: italic;
    margin: 10px;
    color: rgb(255, 0, 0);
}

#div_presentacion{
    width: 300px;
    height: 300px;
    margin: auto;
}

#div_presentacion img{
    width: 100%;
    border-radius: 50%;
}

#div_info p{
    margin: 20px;
}


.menu-hamburguesa  {
    display: none;
   
}

.barra{
    border: solid 1px rgb(58, 72, 194);
    margin: 3px;
    width: 30px;
    height: 2px;
    background-color: rgb(58, 72, 194);
}

@media screen and (max-width: 768px) {

    #container{
        width: 90%;
    }
    .menu-hamburguesa {
        display: block;
        height: 50px;
        float: right;
        width: 30px;
        line-height: 50px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 12%;
    }

    #menu{
        display:none ;
        position: absolute;
        top: 70px;
        width: 100%;
        right: 0;
    }

    #menu ul{
        display: block ;
        background-color: rgb(135, 183, 228);
        width: 100%;
        border-end-end-radius: 20px;
        border-end-start-radius: 20px;
    }

    #menu ul li{
        color: rgb(62, 57, 133);
        font-size: 20px;
    }

    #div_info p{
        margin: 20px;
        font-size: 20px;
        text-align: justify;
    }
}
