*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

h1{
    color: rgb(47, 223, 61); 
    margin: 30px;
}

p{
    color: blue;
    font-size: 30px;
}


#container{
    width: 70%;
    margin: auto;
}

#cabecera{
    display: grid;
    grid-template-columns: 50% 50%;
    margin:30px;
}


#logo img{
    float: left;
}

#menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0x;
    width: 1005;
    float: right;
}


#menu ul li{
    font-style: italic;
    margin: 10px;
    color: rgb(255, 0, 0);
}

#div_presentacion{
    width: 300px;
    height: 300px;
    margin: auto;
}

#div_presentacion img{
    width: 100%;
    border-radius: 50%;
}

#div_info p{
    margin: 20px;
}